.yelRow {
  background-color: $yellow;
  padding: 1.5% 1%;
  border-radius: 15px;

  input {
    // width: 400px;
    height: 50px;
    border: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding-left: 30px;
  }
  p {
    margin-top: 8px;
  }
  button {
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    border: none;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
  }
}

.links {
  .iconFoot {
    color: $yellow;
    font-size: 50px;
  }
  h5,
  p {
    padding: 0;
    margin: 0;
  }
  .footsoIcon {
    font-size: 30px;
  }

  ul {
    padding: 0px;
    margin-top: 30px;
    li {
      list-style-type: none;
      margin-top: 10px;
    }
  }
  .ulTop {
    margin-top: 50px;
  }
}
