// featured
.featured {
  border: 2px solid $yellow;
  border-radius: 25px;
  text-align: center;
  p {
    color: $blue;
    font-weight: bold;
    font-size: 15px;
  }
  img {
    margin-top: -50px;
    z-index: -10;
  }
  h2 {
    color: $red;
    display: inline-block;
  }
  strike {
    color: $gray;
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
  }
  .spcl {
    text-align: left;
    font-size: 25px;
    margin-left: 10px;
    // z-index: 5;
  }
  .save {
    background-color: $yellow;
    padding: 20px 0 15px 0;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    // z-index: 10;
  }
  .z {
    z-index: 1;
  }

  .timeDig {
    font-size: 25px;
    background-color: #dedede;
  }

  .outer {
    width: 100%;
    height: 20px;
    background-color: #dedede;
    border-radius: 35px;
    margin-top: 20px;
  }
  .inner {
    background-color: $yellow;
    width: 30%;
    height: 20px;
    border-radius: 35px;
  }
}

.tabsItems {
  .tabs {
    text-align: center;
  }

  .product {
    padding: 2%;
    .borLeft {
      border-right: 1px solid gray;
    }
    p {
      color: $blue;
      font-weight: bold;
      font-size: 15px;
    }
    h5 {
      color: $red;
      display: inline-block;
    }
    strike {
      color: $gray;
      font-size: 14px;
      display: inline-block;
      margin-left: 10px;
    }
  }
}

// Products
.prodCom {
  p {
    color: $blue;
    font-weight: bold;
    font-size: 15px;
  }
  h5 {
    color: black;
    display: inline-block;
  }
  strike {
    color: $gray;
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
  }
}

.bestDealMid {
  p {
    color: $blue;
    font-weight: bold;
    font-size: 20px;
  }
  h4 {
    color: red;
    display: inline-block;
  }
  strike {
    color: $gray;
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
  }
  button {
    background-color: $yellow;
    border-radius: 25px;
    width: 100%;
    border: none;
    font-size: 15px;
    padding: 5px 0 5px 0;
    color: white;
  }
}

// Best seller

.bestSellers {
  margin-top: 100px;
  h2 {
    display: inline-flex;
  }
  ul {
    margin-bottom: 0px;
    padding-bottom: 0px;
    float: right;
    li {
      display: inline;
      margin-left: 20px;
      margin-top: 40px !important;
      padding: 4px 20px;
      cursor: pointer;

      &:hover {
        border: 2px solid $yellow;
        padding: 4px 20px;
        border-radius: 15px;
      }
    }
    .activeLi {
      border: 2px solid $yellow;
      padding: 4px 20px;
      border-radius: 15px;
    }
    hr {
      margin: 0px;
    }
  }
}

// destCellCom
.bestSellCom {
  p {
    color: $blue;
    font-weight: bold;
    font-size: 15px;
  }
  h5 {
    color: red;
    display: inline-block;
  }
  strike {
    color: $gray;
    font-size: 14px;
    display: inline-block;
    margin-left: 20px;
  }
}
